* {
  box-sizing: border-box;
 
}

.App {
  text-align: center;
}
body{
  background-color: #151515;
  
}

.Header {
  color: #443e3e;
  text-shadow: 1px 1px 4px yellow;
}

/* write your parent styles in here for your App.js */
 .char-list{
  
padding: 2em;
 }


.list {

display: flex;
justify-content: space-between;


  list-style: none;
 
} 

.center{
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px;
}
